<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Text Recognition
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


<!-- <ion-menu>
  <div class="header">
    <div class="logo">
        <img src="./assets/shapes.svg">
    </div>
  </div>
  <div class="nav">
    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
        <div class="nav-item" [routerLink]="[p.url]">
            <span class="icon">{{p.icon}}</span>
            {{p.title}}
            <span class="divider"></span>
        </div>
    </ion-menu-toggle>
  </div>
  <div class="footer">
    <div class="footer-nav">
        <ul>
            <li (click)="leaveAReview()">Like this app? Leave a review!</li>
        </ul>
    </div>
  
    <div class="footer-social">
        <ion-icon (click)="openInstagramProfile()" name="logo-instagram"></ion-icon>
        <ion-icon (click)="openFacebookProfile()" name="logo-facebook"></ion-icon>
        <ion-icon (click)="openTwitterProfile()" name="logo-twitter"></ion-icon>
        <ion-icon (click)="openWebsite()" name="globe"></ion-icon>
    </div>
  
    <div class="footer-app-version">
        Version v{{version}}
    </div>
  </div>
</ion-menu> -->

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Text Recognition</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <img [src]="imgSrc" />
  </div>
  <ion-list [inset]="true">
    <ion-item *ngIf="message">{{message}}</ion-item>
    <ion-list-header *ngIf="lines.length > 0">
      <ion-label>Found Text</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let line of lines">{{line}}</ion-item>
  </ion-list>
  <ion-fab style="margin-bottom:80px" slot="fixed" horizontal="center" vertical="bottom">
    <ion-fab-button [disabled]="busy" (click)="takePic()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>